table{
    border-collapse: collapse;
}

thead{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

tbody{
    color: blue;
}

tbody tr td{
    width: 170px;
    padding: 8px 4px 0px 4px;
    border: 2px solid black;
}

tfoot tr td{
    border: 2px solid black;
    color: blue;
    text-align: center;
}

.destacar{
    color: white;
    background-color: red;
}

.sub_titles{
    font-size: 20px;
    font-weight: bold;
}


#title{
    font-size: 30px;
    font-weight: bold;
}
