body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #0f1f2d, #18362f);
  overflow-y: auto; /* Asegura que el scroll vertical esté habilitado */
  display: block; /* Cambiar de flex a block */
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  margin-top: 20px; /* Si quieres un poco de margen desde la parte superior */
}

img {
  max-width: 200px;
  margin-bottom: 1.5rem;
}

.btn-gradient {
  background: linear-gradient(135deg, #0f1f2d, #18362f); /* mismo fondo que body */
  color: #fff !important;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #18362f, #0f1f2d); /* invertimos colores */
  transform: scale(1.03);
}

.fecha-actual {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-transform: lowercase;
}

/* Primera letra en mayúscula */
.fecha-actual::first-letter {
  text-transform: uppercase;
}
