.principal{
    border: 5px solid lightgrey;
    text-align: center;
    padding: 50px 50px 1200px 50px;

}

.bloque{
    text-align: left;
    font-size: 30px;
    padding: 10px 10px 90px 40px;
}

#bloque-1{
    background-color: lightblue;
    width: 1100px;
    height: 200px;
    position: absolute;
    z-index: 80;
    top: 15%;
    left: 10%;
}

#bloque-2 {
    background-color: lightgreen;
    width: 900px;
    height: 700px;
    position: absolute;
    z-index: 40;
    left: 12%;
}

#hijo1_2{
    background-color: blue;
    width: 700px;
    height: 100px;
    position: relative;
    z-index: 90;
    top: 38%;
}

#hijo2_2{
    background-color: lightgray;
    width: 300px;
    height: 600px;
    position: relative;
    z-index: 30;
    bottom: 37%;
    left: 50%;
}

#bloque-3{
    background-color: lightyellow;
    width: 1200px;
    height: 200px;
    position: absolute;
    z-index: 20;
    top: 48%;
}

#hijo1_3{
    background-color: lightcoral;
    width: 300px;
    height: 150px;
    position: relative;
    z-index: 10;
    bottom: 43%;
    left: 45%;
}
