<div class="container">
    <div class="row">
      <div class="col">
        <div>
          {{indice + 1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
          <a [routerLink]='["/actualizar",indice]' [queryParams]="{accion:'1'}">
            Actualiza
        </a>
        &nbsp;
        <a [routerLink]='["/actualizar",indice]' [queryParams]="{accion:'2'}">
          Eliminar
      </a>
      </div>
        <app-caracteristicas-empleados-c (CaracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleados-c>
        <ul style="list-style-type: none;">
            <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
      </div>
    </div>
  </div>